@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.head-asset {
position: relative;
display: flex;
width: 1170px;
margin-top: 71px;
margin-left: auto;
margin-right: auto;
background-color: #ffffff;
font-family: 'Poppins', sans-serif;
font-weight: 600;
}

.head-asset-n {
position: relative;
display: flex;
height: 730px;
width: 1170px;
margin-top: 56px;
margin-left: auto;
margin-right: auto;
font-family: "Poppins", sans-serif;
font-weight: 600;
}

.block-top-nn {
display: flex;
width: 100%;
position: relative;
padding-left: 0px;
}

.block-logo-nn {
margin-left: 0px;
margin-top: 3px;
display: inline-flex;
align-items: center;
}

.block-top-main-n1 {
display: flex;
width: 700px;
position: relative;
padding-left: 0px;
}

.block-top-main-n2 {
display: flex;
width: 470px;
position: relative;
padding-left: 0px;
}

.block-top-left-n1 {
display: flex;
padding-left: 70px;
width: 100%;
align-items: flex-start;
justify-content: center;
flex-direction: column;
}

.block-top-left-n1 p1 {
font-size: 16px;
display: flex;
text-decoration: none;
padding-right: 45px;
padding-left: 0px;
color: #242f51;
background: #e2eaed;
border-radius: 17px;
border: 0px solid #e2eaed;
}

.block-top-left-n1 p2 {
font-size: 16px;
margin-right: 8px;
display: flex;
color: #feaa25;
padding-left: 0.2em;
padding-right: 0.2em;
background: #feaa25;
border-radius: 17px;
border: 0px solid #feaa25;
align-items: center;
align-content: center;
}

.block-top-left-n1 p3 {
font-size: 60px;
margin-bottom: -10px;
display: flex;
align-items: center;
align-content: center;
color: #242f51;
}

.block-top-left-n1 p4 {
margin-top: 10px;
font-size: 18px;
display: flex;
align-items: center;
align-content: center;
color: #616368;
}

.block-top-left-n2 {
display: flex;
width: 470px;
position: relative;
padding-left: 0px;
}

.block-top-left-n1 img {
width: 15px;
height: 15px;
display: flex;
align-content: center;
justify-content: center;
}

.block-top-right-n1 {
width: 100%;
}

.block-top-head-build {
margin-top: -120px;
justify-content: center;
display: flex;
background: #ffffff;
}

.block-top-head-build img {
justify-content: center;
display: flex;
flex-wrap: wrap;
width: 100%;
}

#menu-lined {
display: inline-flex;
align-items: center;
margin-left: auto;
margin-right: 50px;
}

#menu-lined ul {
display: inline-flex;
}

#menu-lined li {
display: inline-flex;
margin-right: 30px;
}

#menu-lined a, a:visited, a:hover {
text-decoration: none;
color: #242f51;
}

#menu-lined-n {
margin-top: 50px;
display: inline-flex;
align-items: center;
margin-left: auto;
margin-right: auto;
font-family: 'Poppins', sans-serif;
font-weight: 400;
}

#menu-lined-n ul {
display: inline-flex;
}

#menu-lined-n li {
display: inline-flex;
margin-right: 30px;
}

#menu-lined-n a, a:visited, a:hover {
text-decoration: none;
color: #ffffff;
}

.button-watch {
margin-top: 35px;
}

.button-watch a {
text-decoration: none;
padding-left: 25px;
color: #2500f9;
font-weight: 400;
font-family: "Poppins", sans-serif;
}

a.button-n1 {
margin-top: 40px;
display: inline-block;
cursor: pointer; 
font-size: 16px;
text-decoration: none;
padding: 16px 40px; 
color: #ffffff;
background: #2500f9;
border-radius: 28px;
border: 0px solid #354251;
}

a.button-n2 {
display: inline-block;
cursor: pointer; 
font-size: 16px;
text-decoration: none;
padding: 16px 40px; 
color: #ffffff;
background: #2500f9;
border-radius: 28px;
border: 0px solid #354251;
}

a.button-n3 {
margin-top: 50px;
display: inline-block;
cursor: pointer; 
font-size: 16px;
text-decoration: none;
padding: 16px 40px; 
color: #ffffff;
background: #2500f9;
border-radius: 28px;
border: 0px solid #354251;
}

a.button-n4 {
margin-top: 30px;
display: inline-block;
cursor: pointer; 
font-size: 16px;
text-decoration: none;
padding: 16px 40px; 
color: #ffffff;
background: #2500f9;
border-radius: 28px;
border: 0px solid #354251;
font-weight: 400;
font-family: "Poppins", sans-serif;
}

a.button-n5 {
margin-top: 15px;
display: inline-block;
cursor: pointer; 
font-size: 16px;
text-decoration: none; 
color: #2500f9;
font-weight: 400;
font-family: "Poppins", sans-serif;
}

.company {
display: flex;
width: 1170px;
margin-top: 110px;
margin-left: auto;
margin-right: auto;
font-family: "Poppins", sans-serif;
font-weight: 400;
flex-direction: column;
align-items: center;
color: #242f51;
}

.company-n {
display: flex;
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
}

.company-n img {
margin-right: 70px;
}

.company-n p {
display: flex;
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
}

.body-asset {
position: relative;
display: flex;
width: 1170px;
margin-top: 170px;
margin-left: auto;
margin-right: auto;
background-color: #ffffff;
font-family: 'Poppins', sans-serif;
font-weight: 600;
}

.body-asset-n {
position: relative;
display: flex;
height: 840px;
width: 1170px;
margin-left: auto;
margin-right: auto;
font-family: "Poppins", sans-serif;
font-weight: 600;
}

.block-body-main-n1 {
margin-left: -50px;
margin-right: 100px;
display: flex;
width: 580px;
position: relative;
padding-left: 0px;
}

.block-body-main-n2 {
margin-top: -50px;
display: flex;
width: 590px;
position: relative;
padding-left: 0px;
flex-direction: column;
justify-content: center;
}

.block-body-main-n2 p {
font-size: 36px;
color: #242f51;
display: flex;
}

.block-body-main-n2 p2 {
margin-top: -25px;
margin-bottom: 80px;
font-size: 16px;
color: #616368;
display: flex;
font-weight: 400;
}

.block-body-main-n2-nn {
display: flex;
height: 110px;
position: relative;
padding-left: 0px;
justify-content: flex-start;
align-items: center;
}

.block-body-main-n2-nn-m {
margin-top: 60px;
display: flex;
height: 110px;
position: relative;
padding-left: 0px;
justify-content: flex-start;
align-items: center;
}

.block-body-main-n2-nn-m2 {
margin-top: 60px;
display: flex;
height: 110px;
position: relative;
padding-left: 0px;
justify-content: flex-start;
align-items: center;
}

.block-body-main-n2-nnn {
display: flex;
}

.block-body-main-n2-main {
display: flex;
flex-direction: column;
}

.block-body-main-n2-nn2 {
display: flex;
align-content: flex-start;
flex-direction: column;
}

.block-body-main-n2-nn p3 {
margin-left: 30px;
color: #f55767;
font-size: 20px;
display: flex;
position: relative;
justify-content: center;
flex-direction: column;
}

.block-body-main-n2-nn p4 {
margin-left: 30px;
color: #616368;
font-size: 16px;
display: flex;
position: relative;
justify-content: center;
font-weight: 400;
}

.block-body-main-n2-nn-m p3 {
margin-left: 30px;
color: #2563ff;
font-size: 20px;
display: flex;
position: relative;
justify-content: center;
flex-direction: column;
}

.block-body-main-n2-nn-m p4 {
margin-left: 30px;
color: #616368;
font-size: 16px;
display: flex;
position: relative;
justify-content: center;
font-weight: 400;
}

.block-body-main-n2-nn-m2 p3 {
margin-left: 30px;
color: #40975f;
font-size: 20px;
display: flex;
position: relative;
justify-content: center;
flex-direction: column;
}

.block-body-main-n2-nn-m2 p4 {
margin-left: 30px;
color: #616368;
font-size: 16px;
display: flex;
position: relative;
justify-content: center;
font-weight: 400;
}

.block-body-mm-n {
margin-top: 150px;
display: flex;
width: 100%;
height: 150px;
}

.block-body-mm-n-n1 {
margin-left: -70px;
display: flex;
width: 100%;
height: 150px;
justify-content: flex-end;
align-items: center;
border-right: 0.5px solid #242f51;
}

.block-body-mm-n-n1 p {
display: flex;
height: 150px;
font-size: 40px;
color: #242f51;
font-family: "Poppins", sans-serif;
font-weight: 600;
line-height: 1.3em;
padding-right: 90px;
}

.block-body-mm-n-n2 {
display: flex;
width: 100%;
height: 150px;
justify-content: flex-start;
align-content: center;
}

.block-body-mm-n-n2 p {
display: flex;
font-size: 16px;
color: #616368;
font-family: "Poppins", sans-serif;
padding-left: 80px;
align-items: center;
justify-content: center;
}

.body-asset-set-n {
margin-top: 110px;
position: relative;
display: flex;
height: 230px;
width: 100%;
margin-left: auto;
margin-right: auto;
font-family: "Poppins", sans-serif;
font-weight: 600;
flex-direction: row;
justify-content: center;
}

.body-asset-set-n-n1 {
position: relative;
display: flex;
flex-direction: column;
width: 360px;
margin-right: 10px;
}

.body-asset-set-n-n1 p {
display: flex;
font-size: 20px;
color: #f55767;
font-family: "Poppins", sans-serif;
align-items: center;
justify-content: flex-start;
}

.body-asset-set-n-n1 p2 {
display: flex;
font-size: 16px;
color: #616368;
font-family: "Poppins", sans-serif;
align-items: center;
justify-content: flex-start;
font-weight: 400;
}

.body-asset-set-n-nimg {
display: flex;
width: 85px;
height: 85px;
align-items: center;
justify-content: center;
}

.body-asset-set-n-n2 {
position: relative;
display: flex;
flex-direction: column;
width: 360px;
margin-right: 10px;
}

.body-asset-set-n-n2 p {
display: flex;
font-size: 20px;
color: #2563ff;
font-family: "Poppins", sans-serif;
align-items: center;
justify-content: flex-start;
}

.body-asset-set-n-n2 p2 {
display: flex;
font-size: 16px;
color: #616368;
font-family: "Poppins", sans-serif;
align-items: center;
justify-content: flex-start;
font-weight: 400;
}

.body-asset-set-n-n3 {
position: relative;
display: flex;
flex-direction: column;
width: 360px;
}

.body-asset-set-n-n3 p {
display: flex;
font-size: 20px;
color: #40975f;
font-family: "Poppins", sans-serif;
align-items: center;
justify-content: flex-start;
}

.body-asset-set-n-n3 p2 {
display: flex;
font-size: 16px;
color: #616368;
font-family: "Poppins", sans-serif;
align-items: center;
justify-content: flex-start;
font-weight: 400;
}

.block-body-human-n {
margin-top: 130px;
display: flex;
width: 100%;
height: 515px;
}

.block-body-human-n1 {
display: flex;
width: 100%;
height: 570px;
justify-content: flex-end;
align-items: center;
}

.block-body-human-n2 {
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
margin-left: 115px;
}

.block-body-human-n2 p {
font-size: 36px;
color: #242f51;
display: flex;
width: 100%;
font-family: "Poppins", sans-serif;
font-weight: 400;
}

.block-body-human-n2 p2 {
display: flex;
width: 100%;
font-size: 16px;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
}

.body-asset-set-nn {
margin-top: 215px;
position: relative;
display: flex;
width: 100%;
margin-left: auto;
margin-right: auto;
font-family: "Poppins", sans-serif;
font-weight: 600;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}

.body-asset-set-nn p {
margin-top: -40px;
font-size: 36px;
color: #242f51;
position: relative;
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 600;
flex-direction: row;
justify-content: center;
}

.body-asset-set-nn p1 {
font-size: 16px;
color: #616368;
position: relative;
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 400;
flex-direction: row;
justify-content: center;
}

.body-asset-set-m {
margin-top: 90px;
position: relative;
display: flex;
width: 1170px;
height: 530px;
margin-left: auto;
margin-right: auto;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
}

.body-asset-set-mn {
position: relative;
display: flex;
width: 390px;
align-items: center;
justify-content: center;
flex-direction: column;
}

.body-asset-set-mn1 {
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.body-asset-set-mn2 {
margin-top: 70px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.body-asset-set-mn1 p {
position: relative;
display: flex;
align-items: center;
justify-content: center;
color: #242f51;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
}

.body-asset-set-mn2 p {
position: relative;
display: flex;
align-items: center;
justify-content: center;
color: #242f51;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
}

.body-asset-set-mn1 p1 {
position: relative;
display: flex;
align-items: center;
justify-content: center;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

.body-asset-set-mn2 p1 {
position: relative;
display: flex;
align-items: center;
justify-content: center;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

.body-phoned-nn {
margin-top: 115px;
width: 1170px;
margin-left: auto;
margin-right: auto;
}

.body-phoned-nn p {
line-height: 0.5em;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 36px;
color: #242f51;
}

.body-phoned-nn p1 {
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

.body-phoned-nn-main {
display: flex;
}

.body-phoned-nn1 {
display: flex;
width: 685px;
}

.body-phoned-nn2 {
margin-top: -70px;
display: flex;
width: 485px;
}

.body-phoned-nn-nn1 {
margin-top: 65px;
margin-right: 115px;
position: relative;
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 600;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.body-phoned-nn-nn2 {
margin-top: 65px;
position: relative;
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 600;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.body-phoned-nn-nnn1 {
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.body-phoned-nn-nnn2 {
margin-top: 60px;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.body-phoned-nn-nn1 p {
color: #242f51;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
}

.body-phoned-nn-nn1 p1 {
position: relative;
display: flex;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.body-phoned-nn-nn2 p {
color: #242f51;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
}

.body-phoned-nn-nn2 p1 {
position: relative;
display: flex;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.body-awesome {
position: relative;
display: flex;
width: 1170px;
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
flex-direction: column;
}

.body-awesome p1 {
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

.switch-btn {
margin-top: 80px;
margin-bottom: 40px;
display: inline-block;
width: 283px;
height: 57px;
border-radius: 28.5px;
z-index: 0;
border: none;
cursor: pointer;
position: relative;
transition-duration: 300ms;
box-shadow: inset 0 0 10px 0 #999999;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 16px;
}

.switch-btn::after {
display: flex;
content: "Monthly";
margin: 10px;
height: 48px;
width: 136px;
border-radius: 24px;
background: #2500f9;
top: -6px;
left: -6px;
transition-duration: 300ms;
box-shadow: 0 0 10px 0 #999999;
position: absolute;
z-index: 1;
color: #ffffff;
justify-content: center;
align-items: center;
}

.switch-on {
box-shadow: inset 0 0 10px 0 #999999;
}

.switch-on::after {
content: "Annualy";
left: 131px;
background: #2500f9;
}

/* New code */

.switch-blocks-nn {
margin-bottom: 30px;
display: flex;
width: 1170px;
justify-content: center;
align-items: flex-start;
}

.switch-blocks-nn-n1 {
margin-right: 30px;
display: flex;
width: 320px;
border-radius: 10px;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 0 0 10px 0 #999999;
padding-bottom: 25px;
}

.switch-blocks-nn-n2 {
display: flex;
width: 320px;
border-radius: 10px;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 0 0 10px 0 #999999;
padding-bottom: 25px;
}

.switch-blocks-nn-n1-price {
display: flex;
width: 100%;
align-items: baseline;
justify-content: center;
margin-bottom: -20px;
}

.switch-blocks-nn-n1-price p {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 60px;
}

.switch-blocks-nn-n1-price p1 {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

.switch-blocks-nn-n2-price {
display: flex;
width: 100%;
align-items: baseline;
justify-content: center;
margin-bottom: -20px;
}

.switch-blocks-nn-n2-price p {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 60px;
}

.switch-blocks-nn-n2-price p1 {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

display: flex;
width: 100%;
align-items: baseline;
justify-content: center;


#footer {
width: 100%;
}

.footer-main-nn {
height: 530px;
display: flex;
background-color: #09142e;
align-items: center;
justify-content: center;
flex-direction: column;
}

.footer-main-nn p {
margin-top: 90px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 14px;
}

.footer-main-nn p {
margin-top: 90px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 14px;
}

.footer-main-nn-im {
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
}

.people-image-nn {
display: flex;
margin-left: auto;
margin-right: auto;
width: 1350px;
justify-content: center;
align-items: center;
}

.people-image-nn1 {
display: flex;
justify-content: center;
align-items: center;
}

.people-image-nn2 {
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: center;
}

.people-image-nn2 p {
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 40px;
color: #242f51;
}

.people-image-nn2 p1 {
display: flex;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 14px;
}

.people-image-nn2 p2 {
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
color: #242f51;
}

.people-image-nn2-peo {
width: 100%;
display: flex;
align-items: center;
flex-direction: row;
}

.people-image-nn2-peops {
margin-left: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
}

.people-image-nn2-arrows {
display: flex;
margin-left: auto;
margin-top: auto;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
}

.question-main-nn {
display: flex;
margin-left: auto;
margin-right: auto;
width: 945px;
flex-direction: column;
align-items: center;
}

.question-main-nn p {
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 40px;
color: #242f51;
}

.question-main-nn p1 {
display: flex;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

.question-main-nn-full {
display: flex;
margin-left: auto;
margin-right: auto;
width: 945px;
flex-direction: column;
align-items: flex-start;
box-shadow: 0 0 10px 0 #999999;
margin-bottom: 10px;
}

.question-main-nn-full p {
display: flex;
margin-left: 50px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
color: #242f51;
}

.question-main-nn-full p1 {
display: flex;
margin-left: 50px;
font-size: 16px;
}

.question-main-nn-skipped {
display: flex;
margin-left: auto;
margin-right: auto;
width: 945px;
flex-direction: column;
align-items: flex-start;
box-shadow: 0 0 10px 0 #999999;
margin-bottom: 10px;
}

.question-main-nn-skipped p {
display: flex;
margin-left: 50px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
color: #242f51;
}

.footer-download-nn {
width: 1600px;
margin-left: 385px;
margin-right: auto;
margin-bottom: -60px;
display: flex;
}

.footer-download-nn-main {
display: flex;
height: 415px;
flex-direction: column;
align-items: flex-start;
align-content: center;
justify-content: flex-start;
}

.footer-download-nn-ps {
display: flex;
flex-direction: column;
}

.footer-download-nn-ps p {
display: flex;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 48px;
color: #242f51;
}

.footer-download-nn-ps p1 {
display: flex;
color: #616368;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
}

.footer-download-nn-img {
display: flex;
}

.new-img-footer {
width: 700px;
margin-top: 0px;
margin-left: 0px;
display: flex;
justify-content: flex-end;
}
